SectionnerServer/ns.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <schema targetNamespace="Sectionner"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="Sectionner"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="SettingLevel"><!-- ns__SettingLevel -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="Normal"/><!-- Normal -->
        <!-- = 1 -->
        <enumeration value="Disable"/><!-- Disable -->
        <!-- = 2 -->
        <enumeration value="Warning"/><!-- Warning -->
        <!-- = 3 -->
        <enumeration value="Minor"/><!-- Minor -->
        <!-- = 4 -->
        <enumeration value="Major"/><!-- Major -->
        <!-- = 5 -->
        <enumeration value="Critical"/><!-- Critical -->
      </restriction>
    </simpleType>
    <simpleType name="UserType"><!-- ns__UserType -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="Admin"/><!-- Admin -->
        <!-- = 1 -->
        <enumeration value="Control"/><!-- Control -->
        <!-- = 2 -->
        <enumeration value="Monitor"/><!-- Monitor -->
      </restriction>
    </simpleType>
    <simpleType name="SensorType"><!-- ns__SensorType -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="Multi"/><!-- Multi -->
        <!-- = 1 -->
        <enumeration value="Mono"/><!-- Mono -->
      </restriction>
    </simpleType>
    <simpleType name="SensorName"><!-- ns__SensorName -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="TEMPERATURE"/><!-- TEMPERATURE -->
        <!-- = 1 -->
        <enumeration value="HUMIDITY"/><!-- HUMIDITY -->
        <!-- = 2 -->
        <enumeration value="ACVOLTAGE"/><!-- ACVOLTAGE -->
        <!-- = 3 -->
        <enumeration value="ACAMPERE"/><!-- ACAMPERE -->
        <!-- = 4 -->
        <enumeration value="DCVOLTAGE"/><!-- DCVOLTAGE -->
        <!-- = 5 -->
        <enumeration value="DCAMPERE"/><!-- DCAMPERE -->
        <!-- = 6 -->
        <enumeration value="COSQ"/><!-- COSQ -->
        <!-- = 7 -->
        <enumeration value="DIGITALINPUT"/><!-- DIGITALINPUT -->
        <!-- = 8 -->
        <enumeration value="DIGITALOUTPUT"/><!-- DIGITALOUTPUT -->
        <!-- = 9 -->
        <enumeration value="DIGITALEXIST"/><!-- DIGITALEXIST -->
        <!-- = 10 -->
        <enumeration value="RELAY"/><!-- RELAY -->
        <!-- = 11 -->
        <enumeration value="UNKNOWN"/><!-- UNKNOWN -->
      </restriction>
    </simpleType>
    <simpleType name="DeviceModel"><!-- ns__DeviceModel -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="PROTECTOR"/><!-- PROTECTOR -->
        <!-- = 1 -->
        <enumeration value="SECTIONNER"/><!-- SECTIONNER -->
        <!-- = 2 -->
        <enumeration value="TRANSISTOR"/><!-- TRANSISTOR -->
        <!-- = 3 -->
        <enumeration value="SERVER"/><!-- SERVER -->
        <!-- = 4 -->
        <enumeration value="MANAGER"/><!-- MANAGER -->
        <!-- = 5 -->
        <enumeration value="ROBER"/><!-- ROBER -->
        <!-- = 6 -->
        <enumeration value="ALARM"/><!-- ALARM -->
      </restriction>
    </simpleType>
    <simpleType name="RequestType"><!-- ns__RequestType -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="CALIBRATION"/><!-- CALIBRATION -->
        <!-- = 1 -->
        <enumeration value="SAMPLING"/><!-- SAMPLING -->
        <!-- = 2 -->
        <enumeration value="OUTRELAY"/><!-- OUTRELAY -->
        <!-- = 3 -->
        <enumeration value="DATETIME"/><!-- DATETIME -->
        <!-- = 4 -->
        <enumeration value="PICTURE"/><!-- PICTURE -->
        <!-- = 5 -->
        <enumeration value="PARTS"/><!-- PARTS -->
        <!-- = 6 -->
        <enumeration value="RESET"/><!-- RESET -->
        <!-- = 7 -->
        <enumeration value="LIVE"/><!-- LIVE -->
        <!-- = 8 -->
        <enumeration value="OK"/><!-- OK -->
        <!-- = 9 -->
        <enumeration value="DATA"/><!-- DATA -->
        <!-- = 10 -->
        <enumeration value="CUSTOM"/><!-- CUSTOM -->
        <!-- = 11 -->
        <enumeration value="STT"/><!-- STT -->
        <!-- = 12 -->
        <enumeration value="ALM"/><!-- ALM -->
      </restriction>
    </simpleType>
    <complexType name="IP"><!-- ns__IP -->
          <sequence>
            <element name="ip1" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__IP::ip1 -->
            <element name="ip2" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__IP::ip2 -->
            <element name="ip3" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__IP::ip3 -->
            <element name="ip4" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__IP::ip4 -->
          </sequence>
    </complexType>
    <complexType name="GPS"><!-- ns__GPS -->
          <sequence>
            <element name="gX" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__GPS::gX -->
            <element name="gY" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__GPS::gY -->
          </sequence>
    </complexType>
    <complexType name="Calibration"><!-- ns__Calibration -->
          <sequence>
            <element name="cOffset" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Calibration::cOffset -->
            <element name="cZero" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Calibration::cZero -->
            <element name="cSpan" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Calibration::cSpan -->
            <element name="cMin" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Calibration::cMin -->
            <element name="cMax" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Calibration::cMax -->
          </sequence>
    </complexType>
    <complexType name="Sensor"><!-- ns__Sensor -->
          <sequence>
            <element name="sNkName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Sensor::sNkName -->
            <element name="sVal" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Sensor::sVal -->
            <element name="sMin" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Sensor::sMin -->
            <element name="sMax" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Sensor::sMax -->
            <element name="sType" type="ns:SensorType" minOccurs="0" maxOccurs="1" default="Multi"/><!-- ns__Sensor::sType -->
            <element name="sErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__Sensor::sErr -->
          </sequence>
    </complexType>
    <complexType name="SensorExtension"><!-- ns__SensorExtension -->
          <sequence>
            <element name="seName" type="ns:SensorName" minOccurs="0" maxOccurs="1" default="ACVOLTAGE"/><!-- ns__SensorExtension::seName -->
            <element name="seVal" type="xsd:double" minOccurs="0" maxOccurs="unbounded"/><!-- ns__SensorExtension::seVal -->
          </sequence>
    </complexType>
    <complexType name="Camera"><!-- ns__Camera -->
          <sequence>
            <element name="cSocket" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Camera::cSocket -->
            <element name="cIP" type="ns:IP" minOccurs="1" maxOccurs="1"/><!-- ns__Camera::cIP -->
            <element name="cPort" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Camera::cPort -->
            <element name="cErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__Camera::cErr -->
          </sequence>
    </complexType>
    <complexType name="PicturePart"><!-- ns__PicturePart -->
          <sequence>
            <element name="ppIndex" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__PicturePart::ppIndex -->
            <element name="ppData" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__PicturePart::ppData -->
            <element name="ppCRC" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__PicturePart::ppCRC -->
          </sequence>
    </complexType>
    <complexType name="Picture"><!-- ns__Picture -->
          <sequence>
            <element name="pName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Picture::pName -->
            <element name="pSize" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Picture::pSize -->
            <element name="pPartSize" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Picture::pPartSize -->
            <element name="pPartNo" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Picture::pPartNo -->
            <element name="pCRC" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Picture::pCRC -->
            <element name="pParts" type="ns:PicturePart" minOccurs="0" maxOccurs="unbounded"/><!-- ns__Picture::pParts -->
          </sequence>
    </complexType>
    <complexType name="ReportRange"><!-- ns__ReportRange -->
          <sequence>
            <element name="rrStart" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/><!-- ns__ReportRange::rrStart -->
            <element name="rrEnd" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/><!-- ns__ReportRange::rrEnd -->
          </sequence>
    </complexType>
    <complexType name="ActivityLog"><!-- ns__ActivityLog -->
          <sequence>
            <element name="alRange" type="ns:ReportRange" minOccurs="1" maxOccurs="1"/><!-- ns__ActivityLog::alRange -->
            <element name="alData" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__ActivityLog::alData -->
            <element name="alDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__ActivityLog::alDevice -->
            <element name="alUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__ActivityLog::alUser -->
            <element name="alErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__ActivityLog::alErr -->
          </sequence>
    </complexType>
    <complexType name="UserLog"><!-- ns__UserLog -->
          <sequence>
            <element name="ulRange" type="ns:ReportRange" minOccurs="1" maxOccurs="1"/><!-- ns__UserLog::ulRange -->
            <element name="ulData" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__UserLog::ulData -->
            <element name="ulUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__UserLog::ulUser -->
          </sequence>
    </complexType>
    <complexType name="DeviceStatusLog"><!-- ns__DeviceStatusLog -->
          <sequence>
            <element name="dslDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/><!-- ns__DeviceStatusLog::dslDateTime -->
            <element name="dslDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__DeviceStatusLog::dslDevice -->
            <element name="dslErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__DeviceStatusLog::dslErr -->
          </sequence>
    </complexType>
    <complexType name="DeviceStatus"><!-- ns__DeviceStatus -->
          <sequence>
            <element name="dsRange" type="ns:ReportRange" minOccurs="1" maxOccurs="1"/><!-- ns__DeviceStatus::dsRange -->
            <element name="dsDevice" type="ns:Device" minOccurs="0" maxOccurs="unbounded"/><!-- ns__DeviceStatus::dsDevice -->
            <element name="dsErr" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/><!-- ns__DeviceStatus::dsErr -->
          </sequence>
    </complexType>
    <complexType name="ErrorLog"><!-- ns__ErrorLog -->
          <sequence>
            <element name="elDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/><!-- ns__ErrorLog::elDateTime -->
            <element name="elDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__ErrorLog::elDevice -->
            <element name="elErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__ErrorLog::elErr -->
          </sequence>
    </complexType>
    <complexType name="DataBase"><!-- ns__DataBase -->
          <sequence>
            <element name="dbServer" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__DataBase::dbServer -->
            <element name="bdPort" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__DataBase::bdPort -->
            <element name="dbUser" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__DataBase::dbUser -->
            <element name="dbPassWord" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__DataBase::dbPassWord -->
            <element name="dbErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__DataBase::dbErr -->
          </sequence>
    </complexType>
    <complexType name="CityLocation"><!-- ns__CityLocation -->
          <sequence>
            <element name="clCity" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__CityLocation::clCity -->
            <element name="clLocations" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/><!-- ns__CityLocation::clLocations -->
            <element name="clErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__CityLocation::clErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="GetDeviceStatus">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceStatus::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceStatus::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="Device" type="ns:Device"/>
    <complexType name="Device">
          <sequence>
            <element name="dSerialNumber" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dSerialNumber -->
            <element name="dModel" type="ns:DeviceModel" minOccurs="0" maxOccurs="1" default="SECTIONNER"/><!-- ns__Device::dModel -->
            <element name="dName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Device::dName -->
            <element name="dNikeName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Device::dNikeName -->
            <element name="dLocation" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Device::dLocation -->
            <element name="dCity" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Device::dCity -->
            <element name="dSocket" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dSocket -->
            <element name="dDNSAddress" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Device::dDNSAddress -->
            <element name="dIP" type="ns:IP" minOccurs="1" maxOccurs="1"/><!-- ns__Device::dIP -->
            <element name="dPort" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dPort -->
            <element name="dDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/><!-- ns__Device::dDateTime -->
            <element name="dDDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/><!-- ns__Device::dDDateTime -->
            <element name="dCamera" type="ns:Camera" minOccurs="1" maxOccurs="1"/><!-- ns__Device::dCamera -->
            <element name="dGPS" type="ns:GPS" minOccurs="1" maxOccurs="1"/><!-- ns__Device::dGPS -->
            <element name="dReset" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/><!-- ns__Device::dReset -->
            <element name="dSamplingTime" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dSamplingTime -->
            <element name="dTransPower" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dTransPower -->
            <element name="dTableCapacity" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dTableCapacity -->
            <element name="dPOK" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dPOK -->
            <element name="dPTotal" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dPTotal -->
            <element name="dPR" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dPR -->
            <element name="dPS" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dPS -->
            <element name="dPT" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dPT -->
            <element name="dQR" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dQR -->
            <element name="dQS" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dQS -->
            <element name="dQT" type="xsd:double" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__Device::dQT -->
            <element name="dKeyName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Device::dKeyName -->
            <element name="dPicture" type="ns:Picture" minOccurs="1" maxOccurs="1"/><!-- ns__Device::dPicture -->
            <element name="dCustomCommand" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__Device::dCustomCommand -->
            <element name="dRelays" type="xsd:boolean" minOccurs="0" maxOccurs="unbounded"/><!-- ns__Device::dRelays -->
            <element name="dRequests" type="ns:RequestType" minOccurs="0" maxOccurs="unbounded"/><!-- ns__Device::dRequests -->
            <element name="dSensors" type="ns:SensorExtension" minOccurs="0" maxOccurs="unbounded"/><!-- ns__Device::dSensors -->
            <element name="dSmsTerm" type="xsd:int" minOccurs="0" maxOccurs="1" default="60"/><!-- ns__Device::dSmsTerm -->
            <element name="dSms" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/><!-- ns__Device::dSms -->
            <element name="dSmsTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/><!-- ns__Device::dSmsTime -->
            <element name="dErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__Device::dErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="GetDeviceStatusSMS">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceStatusSMS::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceStatusSMS::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="ErrorCode" type="ns:ErrorCode"/>
    <complexType name="ErrorCode">
          <sequence>
            <element name="eNo" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__ErrorCode::eNo -->
            <element name="eMsg" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__ErrorCode::eMsg -->
            <element name="eType" type="ns:SettingLevel" minOccurs="0" maxOccurs="1" default="Normal"/><!-- ns__ErrorCode::eType -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="GetAllDeviceStatus">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetAllDeviceStatus::requestUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="UserDevice" type="ns:UserDevice"/>
    <complexType name="UserDevice">
          <sequence>
            <element name="udUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__UserDevice::udUser -->
            <element name="udDevs" type="ns:Device" minOccurs="0" maxOccurs="unbounded"/><!-- ns__UserDevice::udDevs -->
            <element name="udErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__UserDevice::udErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="GetDevicePicture">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetDevicePicture::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__GetDevicePicture::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetDevicePicturePart">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetDevicePicturePart::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__GetDevicePicturePart::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="SetDeviceSetting">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SetDeviceSetting::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__SetDeviceSetting::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="SetDeviceSettingResponse">
      <complexType>
          <sequence>
            <element name="responseError" type="ns:ErrorCode" minOccurs="1" maxOccurs="unbounded"/><!-- ns__SetDeviceSetting::responseError -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="SetDeviceSettingSMS">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SetDeviceSettingSMS::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__SetDeviceSettingSMS::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="SetAllDeviceSetting">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SetAllDeviceSetting::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="0" maxOccurs="unbounded"/><!-- ns__SetAllDeviceSetting::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="SetAllDeviceSettingResponse">
      <complexType>
          <sequence>
            <element name="responseError" type="ns:ErrorCode" minOccurs="1" maxOccurs="unbounded"/><!-- ns__SetAllDeviceSetting::responseError -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="DeleteDevices">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__DeleteDevices::requestUser -->
            <element name="requestDeviceList" type="ns:Device" minOccurs="0" maxOccurs="unbounded"/><!-- ns__DeleteDevices::requestDeviceList -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="DeleteDevicesResponse">
      <complexType>
          <sequence>
            <element name="responseError" type="ns:ErrorCode" minOccurs="1" maxOccurs="unbounded"/><!-- ns__DeleteDevices::responseError -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="SetDeviceCalibration">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SetDeviceCalibration::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__SetDeviceCalibration::requestDevice -->
            <element name="requestCalibrationList" type="ns:CalibrationList" minOccurs="1" maxOccurs="1"/><!-- ns__SetDeviceCalibration::requestCalibrationList -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetDeviceCalibration">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceCalibration::requestUser -->
            <element name="requestDevice" type="ns:Device" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceCalibration::requestDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="CalibrationList" type="ns:CalibrationList"/>
    <complexType name="CalibrationList">
          <sequence>
            <element name="clVoltage" type="ns:Calibration" minOccurs="0" maxOccurs="unbounded"/><!-- ns__CalibrationList::clVoltage -->
            <element name="clAmpere" type="ns:Calibration" minOccurs="0" maxOccurs="unbounded"/><!-- ns__CalibrationList::clAmpere -->
            <element name="clCosq" type="ns:Calibration" minOccurs="0" maxOccurs="unbounded"/><!-- ns__CalibrationList::clCosq -->
            <element name="clErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__CalibrationList::clErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="Login">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__Login::requestUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="User" type="ns:User"/>
    <complexType name="User">
          <sequence>
            <element name="uId" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__User::uId -->
            <element name="uName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__User::uName -->
            <element name="uPassword" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__User::uPassword -->
            <element name="uRePassword" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__User::uRePassword -->
            <element name="uFirstName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__User::uFirstName -->
            <element name="uLastName" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__User::uLastName -->
            <element name="uType" type="ns:UserType" minOccurs="0" maxOccurs="1" default="Monitor"/><!-- ns__User::uType -->
            <element name="uKey" type="xsd:string" minOccurs="0" maxOccurs="1" default=""/><!-- ns__User::uKey -->
            <element name="uErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__User::uErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="GetUserDeviceList">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetUserDeviceList::requestUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetUsersList">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetUsersList::requestUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="UsersList" type="ns:UsersList"/>
    <complexType name="UsersList">
          <sequence>
            <element name="ulUsers" type="ns:User" minOccurs="0" maxOccurs="unbounded"/><!-- ns__UsersList::ulUsers -->
            <element name="ulErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__UsersList::ulErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="AddUser">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__AddUser::requestUser -->
            <element name="requestNewUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__AddUser::requestNewUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="UpdateUser">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__UpdateUser::requestUser -->
            <element name="requestNewUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__UpdateUser::requestNewUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="DeleteUser">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__DeleteUser::requestUser -->
            <element name="requestDeleteUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__DeleteUser::requestDeleteUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="AssignDeviceToUser">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__AssignDeviceToUser::requestUser -->
            <element name="requestUserDevice" type="ns:UserDevice" minOccurs="1" maxOccurs="1"/><!-- ns__AssignDeviceToUser::requestUserDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="DeleteDeviceFromUser">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__DeleteDeviceFromUser::requestUser -->
            <element name="requestUserDevice" type="ns:UserDevice" minOccurs="1" maxOccurs="1"/><!-- ns__DeleteDeviceFromUser::requestUserDevice -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetUserDevices">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetUserDevices::requestUser -->
            <element name="requestSelectedUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetUserDevices::requestSelectedUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="SaveActivityLog">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SaveActivityLog::requestUser -->
            <element name="requestActivityLog" type="ns:ActivityLog" minOccurs="1" maxOccurs="1"/><!-- ns__SaveActivityLog::requestActivityLog -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetActivityLog">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetActivityLog::requestUser -->
            <element name="requestReport" type="ns:ReportRange" minOccurs="1" maxOccurs="1"/><!-- ns__GetActivityLog::requestReport -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="GetActivityLogResponse">
      <complexType>
          <sequence>
            <element name="responseActivityLog" type="ns:ActivityLog" minOccurs="1" maxOccurs="unbounded"/><!-- ns__GetActivityLog::responseActivityLog -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="SaveUserLog">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SaveUserLog::requestUser -->
            <element name="requestActivityLog" type="ns:UserLog" minOccurs="1" maxOccurs="1"/><!-- ns__SaveUserLog::requestActivityLog -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetUserLog">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetUserLog::requestUser -->
            <element name="requestReport" type="ns:ReportRange" minOccurs="1" maxOccurs="1"/><!-- ns__GetUserLog::requestReport -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="GetUserLogResponse">
      <complexType>
          <sequence>
            <element name="responseActivityLog" type="ns:UserLog" minOccurs="1" maxOccurs="unbounded"/><!-- ns__GetUserLog::responseActivityLog -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="SaveDeviceStatusLog">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SaveDeviceStatusLog::requestUser -->
            <element name="requestStatusLog" type="ns:DeviceStatusLog" minOccurs="1" maxOccurs="1"/><!-- ns__SaveDeviceStatusLog::requestStatusLog -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetDeviceStatusLog">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceStatusLog::requestUser -->
            <element name="requestStatusLog" type="ns:DeviceStatus" minOccurs="1" maxOccurs="1"/><!-- ns__GetDeviceStatusLog::requestStatusLog -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="DeviceStatusLogList" type="ns:DeviceStatusLogList"/>
    <complexType name="DeviceStatusLogList">
          <sequence>
            <element name="dsllStatus" type="ns:DeviceStatusLog" minOccurs="0" maxOccurs="unbounded"/><!-- ns__DeviceStatusLogList::dsllStatus -->
            <element name="dsllErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__DeviceStatusLogList::dsllErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="GetServerOptions">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetServerOptions::requestUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="ServerOptions" type="ns:ServerOptions"/>
    <complexType name="ServerOptions">
          <sequence>
            <element name="soDataBase" type="ns:DataBase" minOccurs="1" maxOccurs="1"/><!-- ns__ServerOptions::soDataBase -->
            <element name="soRepeat" type="xsd:int" minOccurs="0" maxOccurs="1" default="0"/><!-- ns__ServerOptions::soRepeat -->
            <element name="soErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__ServerOptions::soErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="SetServerOptions">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__SetServerOptions::requestUser -->
            <element name="serverOptions" type="ns:ServerOptions" minOccurs="1" maxOccurs="1"/><!-- ns__SetServerOptions::serverOptions -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetCityAndLocations">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__GetCityAndLocations::requestUser -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="AllCityLocatoins" type="ns:AllCityLocatoins"/>
    <complexType name="AllCityLocatoins">
          <sequence>
            <element name="aclCityLocatoins" type="ns:CityLocation" minOccurs="0" maxOccurs="unbounded"/><!-- ns__AllCityLocatoins::aclCityLocatoins -->
            <element name="aclErr" type="ns:ErrorCode" minOccurs="1" maxOccurs="1"/><!-- ns__AllCityLocatoins::aclErr -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="ChangeCityName">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeCityName::requestUser -->
            <element name="oldCityName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeCityName::oldCityName -->
            <element name="newCityName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeCityName::newCityName -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="ChangeLocationName">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeLocationName::requestUser -->
            <element name="oldCityName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeLocationName::oldCityName -->
            <element name="newCityName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeLocationName::newCityName -->
            <element name="oldLocationName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeLocationName::oldLocationName -->
            <element name="newLocationName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeLocationName::newLocationName -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="ChangeDeviceName">
      <complexType>
          <sequence>
            <element name="requestUser" type="ns:User" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeDeviceName::requestUser -->
            <element name="deviceSerialNumber" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeDeviceName::deviceSerialNumber -->
            <element name="newCityName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeDeviceName::newCityName -->
            <element name="newLocationName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeDeviceName::newLocationName -->
            <element name="newDeviceName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__ChangeDeviceName::newDeviceName -->
          </sequence>
      </complexType>
    </element>
  </schema>

